
body {
  max-width: 480px;
  font-family: "roboto";
  margin:0px;
  margin: auto;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #797979;
  -webkit-animation: loading 3s linear forwards;
          animation: loading 3s linear forwards;
}

.loader-content {
  height: 50px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
}

.circle {
  background-color: #9356DC;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: grow 1.5s linear infinite;
          animation: grow 1.5s linear infinite;
  margin: -10px;
}

.circle:nth-child(2) {
  background-color: #FF79DA;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes grow {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes loading {
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

h1, h2 {
  font-style: bold;
}

header {
  background-color: #fff;
}

.header-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  -webkit-box-shadow: 5px 0px 10px #a1a1a1;
          box-shadow: 5px 0px 10px #a1a1a1;
}

.header-image > img {
  max-width: 45%;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: rgba(194, 194, 194, 0.548);
}

.localisation__icone i {
  color: rgba(61, 61, 61, 0.877);
}

.localisation__texte {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 8%;
  margin-left: 20px;
}

.en-tete {
  padding-bottom: 70px;
  background-color: #f5f5f5;
}

.presentation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.presentation__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.presentation__titre h1 {
  width: 60%;
  margin: 40px 0 0 0;
}

.presentation__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.presentation__details p {
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-commander {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 20px 0 20px;
  height: 50px;
  border-radius: 45px;
  -webkit-box-shadow: 1px 5px 15px #a1a1a1;
          box-shadow: 1px 5px 15px #a1a1a1;
  color: white;
  border: 0;
  background: radial-gradient(ellipse at 0% 0%, #FF79DA, #9356DC);
  font-size: 18px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.btn-commander:hover {
  -webkit-box-shadow: 1px 5px 20px #797979;
          box-shadow: 1px 5px 20px #797979;
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
          cursor: pointer;
}

.fonctionnement {
  background-color: #fff;
  padding: 20px 0 60px 0;
  height: 50%;
}

.fonctionnement__titre {
  margin-left: 5%;
}

.fonctionnement__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonctionnement__card {
  width: 90%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0px 15px 0px;
  border: 0px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 20px #cecece;
          box-shadow: 0px 2px 20px #cecece;
  background-color: #f0f0f0;
}

.fonctionnement__card__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  margin-left: -9%;
}

.fonctionnement__card__number > p {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.fonctionnement__card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.fonctionnement__card__details > i {
  color: grey;
  margin-right: 35px;
}

.fonctionnement__card__details > h2 {
  font-size: 20px;
  padding-right: 40px;
}

.restaurants {
  background-color: #f5f5f5;
  padding-top: 30px;
}

.restaurants__titre {
  margin-left: 5%;
}

.restaurants__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
}

.restaurants__card {
  position: relative;
  background-color: white;
  width: 90%;
  height: 250px;
  border-radius: 20px;
  margin: 5px 0 20px 0;
  -webkit-box-shadow: 1px 1px 20px #cecece;
          box-shadow: 1px 1px 20px #cecece;
}

.restaurants__card__image {
  border-radius: 15px 15px 0px 0px;
  height: 70%;
  overflow: hidden;
}

.restaurants__card__image > a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants__card__body {
  position: relative;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 7% 0 4%;
}

.restaurants__card__description {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 5% 0 5% 0;
}

.restaurants__card__description h3, .restaurants__card__description p {
  margin: 0 0 3px 0;
}

.nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  padding: 5px 15px 5px 15px;
  border-radius: 2px;
  color: #087759;
}

.icone {
  position: absolute;
  right: 0px;
  top: 20px;
}

.icone--hover {
  position: absolute;
  right: 0px;
  top: 20px;
  opacity: 0;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.icone--hover:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  opacity: 1;
  cursor: pointer;
}

.lien {
  text-decoration: none;
  color: inherit;
}

footer {
  background-color: rgba(37, 37, 37, 0.87);
  height: 100%;
}

.footer__logo {
  margin-left: 25px;
  width: 150px;
  padding: 25px 0 15px 0;
}

.footer__logo > img {
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(100);
          filter: brightness(100);
}

.footer__list > ul {
  color: white;
  list-style: none;
  padding: 0 0 30px 25px;
  margin: 0;
}

.footer__list > ul > a {
  text-decoration: none;
  color: white;
}

.footer__list > ul > a > li {
  margin-top: 5px;
}

.footer__list > ul > a > li i {
  margin-right: 15px;
}

@media (min-width: 480px) {
  html {
    background-color: rgba(36, 35, 35, 0.568);
  }
}
/*# sourceMappingURL=main.css.map */