@import "./utils/variables";
 
@mixin Flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    max-width: 500px;
    font-family: "roboto";
    margin: 0px;
    position: relative;
    margin: auto;
}

h1 {
    font-family: "shrikhand";
}

h2 {
    font-weight: lighter;
    color: rgb(87, 87, 87);
}

.header {
    @include Flexcenter;

    &__icone {
        position: absolute;
        top: 25px;
        left: 25px;
    }

    &__logo {
        @include Flexcenter;
        height: 65px;

        > img {
            max-width: 55%;
        }
    }
}

.restaurant-image {
    height: 280px;
    overflow: hidden;

    >img {
        width: 110%;
        position: relative;
        right: 20px;
        z-index: -1;
        object-fit: cover;
    }
}

.restaurant-carte {
    border-radius: 45px 45px 0px 0px;
    margin-top: -35px;
    background-color: #f7f7f7;
}

 .titre {
    @include Flexcenter;
    justify-content: space-between; 
    padding-top: 5px;
    margin-left: 25px;
    margin-right: 30px;

    &__nom {
        width: 250px;

        > h1 {
            font-size: 30px;
        }
    }
}

.icone {
    position: absolute;
    right: 35px;
    top: 343px;
}

.icone--hover {
    position: absolute;
    right: 35px;
    top: 343px;
    opacity: 0;
    transition: all 400ms;

    &:hover {
        background: -webkit-gradient(linear, left top, left bottom, from($secondary-color), to($primary-color));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: none;
        opacity: 1;
    }          
}  

.plats {
    width: 90%;
    margin: auto;

    &__titre {

        > h2 {
            margin-bottom: 10px;
        }
    }
    .underline {
        width: 60px;
        height: 5px;
        background-color: $tertiary-color;
        margin-bottom: 20px;
    }
        
    &__menu {
        display: flex; 
        flex-direction: column;
    }
}
    
.plat {
    @include Flexcenter; 
    height: 75px;
    opacity: 0;
    padding: 0px 0px 0px 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px #cecece;
    overflow: hidden;
    white-space: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
  
    &:hover .confirmation-block {
      transform: translate(-70px);
    }

    &:hover i {
      animation: rotate 600ms ease-out forwards ;
      color: #fff;
    }
        
    &__detail {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

       > h3, p {
               margin: 5px 0px;
               overflow: hidden;
               text-overflow: ellipsis;
            }
        }
    &__prix { 
      align-self: flex-end;

         > div {
          padding: 0 15px 15px 0;
          margin-left: 25px;
            }  
    }
}

.confirmation-block {
    @include Flexcenter;
    height: 100%;
    margin-right: -70px;
    transition: all 600ms ease-in-out;
}

.confirmation {
    width: 70px;
    height: 100%;
    @include Flexcenter;
    background-color: $tertiary-color;

    > .confirmation-icone {
        display: flex;    

        > i {
         color: #fff;
        }
    }
}

.plat-1 {
    animation: apparition 0.8s 0.2s ease-out forwards;
}

.plat-2 {
    animation: apparition 0.8s 0.4s ease-out forwards;
}

.plat-3 {
    animation: apparition 0.8s 0.6s ease-out forwards;
}

.plat-4 {
    animation: apparition 0.8s 0.8s ease-out forwards;
}
 


 
.commande {
    @include Flexcenter;
    height: 200px;
    width: 100%;
    
}

.btn-commander {
    align-self: center;
    width: fit-content;
    padding: 0 20px 0 20px;
    height: 50px;
    border-radius: 45px;
    box-shadow: 1px 5px 15px #a1a1a1;
    color: white;
    border: 0;
    background: $button-color;
    font-size: 18px;
    transition: all 400ms;
    cursor: pointer;

    &:hover {
        box-shadow: 1px 5px 20px #797979;
        filter: brightness(1.1);
        
    }  
}
  


footer {
    background-color: rgba(37, 37, 37, 0.87);
    height: 100%;
}

.footer__logo {
    margin-left: 25px;
    width: 150px;
    padding: 25px 0 15px 0;

    > img {
        width: 100px;
         object-fit: cover;
        filter: brightness(100);
    }
}

.footer__list > ul {
    color: white;
    list-style: none;
    padding: 0 0 30px 25px;
    margin:0;

    > a {
            text-decoration: none;
            color: white;
        
        > li {
            margin-top: 5px;

            i {
                margin-right: 15px;
            }
        }
    }       
}
  

 @keyframes apparition {
     100% {
         opacity: 1;
         transform: none;
     }
 }

 @keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
 }