.icone {
    position: absolute;
    right: 35px;
    top: 343px;
}

.icone--hover {
    position: absolute;
    right: 35px;
    top: 343px;
    opacity: 0;
    transition: all 400ms;

    &:hover {
        background: -webkit-gradient(linear, left top, left bottom, from($secondary-color), to($primary-color));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: none;
        opacity: 1;
        cursor: pointer;
    }          
}  