@import "../utils/variables", "../utils/mixins";


body {
    max-width: 480px;
    font-family: "roboto";
    margin: 0px;
    position: relative;
    margin: auto;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    @include Flexcenter;
    background-color: rgba($color: #797979, $alpha: 1);
    animation: loading 3s linear forwards;
}

.loader-content {
    height: 50px;
    transform-origin: center;
    animation: rotate 3s linear infinite;
}

.circle {
    background-color: $primary-color;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: scale(0);
    animation: grow 1.5s linear infinite;
    margin: -10px;
}

.circle:nth-child(2) {
    background-color: $secondary-color;
    animation-delay: 0.75s;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    50% {
        transform: scale(1);
    }
}

@keyframes loading {
    90% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

h1, h2 {
    font-style: bold;
}

.header-image  {
    @include Flexcenter;
    height: 60px;
    box-shadow:5px 0px 10px #a1a1a1 ;
    > img {
        max-width: 45%;
    }

}

.localisation {
    @include Flexcenter;
    height: 50px;
    background-color: rgba(194, 194, 194, 0.548);

    &__icone i {
        color: rgba(61, 61, 61, 0.877);  
    }

    &__texte {
        width: fit-content;
        padding-right: 8%;
        margin-left: 20px; 
    }
}

.en-tete {
 padding-bottom: 70px;
 background-color: #f5f5f5;
}

.presentation {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__titre {
        @include Flexcenter;
        text-align: center;

        h1 {
            width: 60%;
            margin: 40px 0 0 0;
        }
    }

    &__details {
        @include Flexcenter;
        text-align: center;

        p {
           width: 70%;
           justify-content: center;   
        }
    }
}

.btn-commander {
    align-self: center;
    width: fit-content;
    padding: 0 20px 0 20px;
    height: 50px;
    border-radius: 45px;
    box-shadow: 1px 5px 15px #a1a1a1;
    color: white;
    border: 0;
    background: $button-color;
    font-size: 18px;
    transition: all 400ms;

    &:hover {
        box-shadow: 1px 5px 20px #797979;
        filter: brightness(1.1);
        cursor: pointer;
    }  
}
    



.fonctionnement {
    padding: 20px 0 60px 0;
    height: 50%;

    &__titre {
        margin-left: 5%;
    }

    &__menu {
        @include Flexcenter;
        flex-direction: column;
    }
    &__card {
        width: 90%;
        height: 75px;
        @include Flexcenter;
        margin: 15px 0px 15px 0px;
        border: 0px ;
        border-radius: 20px;
        box-shadow: 0px 2px 20px #cecece ;
        background-color: #f0f0f0;
    

    }

    &__card__number {
        @include Flexcenter;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $primary-color; 
        margin-left: -9%;
        
        > p {
            margin: auto;
            @include Flexcenter;
            color: white;
        }
    }

    &__card__details {
        @include Flexcenter;
        width: 90%;

        > i {
            color: grey;
            margin-right: 35px;
        }

        > h2 {
            font-size: 20px;
            padding-right: 40px;
        }
    }   
}

.restaurants {
    background-color:#f5f5f5 ;
    padding-top: 30px;

    &__titre {
        margin-left: 5%;
    }

    &__menu {
        @include Flexcenter;
        flex-direction: column;
        padding-bottom: 50px;
    }   
}

.restaurants__card {
    position: relative;
    background-color: white;
    width: 90%;
    height: 250px;
    border-radius: 20px;
    margin: 5px 0 20px 0;
    box-shadow: 1px 1px 20px #cecece;

    &__image {
        border-radius: 15px 15px 0px 0px;
        height: 70%;
        overflow: hidden;
    
        > a img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
             
        }  
    }

    &__body {
        position: relative;
        height: 30%;
        display: flex;
        justify-content: space-between;
        margin: 0 7% 0 4%;

    }

    &__description {
        width: fit-content;
        height: fit-content;
        margin: 5% 0 5% 0;
       
        h3, p {
            margin: 0 0 3px 0;
        }
    }
}

.nouveau {
    position:absolute;
    top: 15px;
    right: 15px;
    background-color: $tertiary-color;
    padding: 5px 15px 5px 15px;
    border-radius: 2px;
    color: #087759;
}

.icone {
    position: absolute;
    right: 0px;
    top: 20px;
}

.icone--hover {
    position: absolute;
    right: 0px;
    top: 20px;
    opacity: 0;
    transition: all 400ms;

    &:hover {
        background: -webkit-gradient(linear, left top, left bottom, from($secondary-color), to($primary-color));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: none;
        opacity: 1;
        cursor: pointer;
    }          
}

.lien {
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: rgba(37, 37, 37, 0.87);
    height: 100%;
}

.footer__logo {
    margin-left: 25px;
    width: 150px;
    padding: 25px 0 15px 0;

    > img {
        width: 100px;
        object-fit: cover;
        filter: brightness(100);
    }
}

.footer__list > ul {
    color: white;
    list-style: none;
    padding: 0 0 30px 25px;
    margin:0;

    > a {
            text-decoration: none;
            color: white;
        
        > li {
            margin-top: 5px;

            i {
                margin-right: 15px;
            }
        }
    }       
}
    
